@media (max-width: 600px) {
    
    .backgroundvideo {
        object-fit: cover;

    }
    .pages {
        flex-direction: column;
        height: auto;
  


        }
        h1{
            font-size: 1.8rem;
        }
        .my_courses, .add_courses, .contact_us {
            width: 80%;
            margin: 5px auto;
   
        }
    

    }
.body {

    margin: 0;
    padding: 0;
    overflow: hidden;

}


.backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width:100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
 


  
}
.content {
    text-align: center;
    color: rgb(131, 9, 5);
    font-size: 2em;
    font-family: fantasy;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.678);
}
.pages {

    
    width: auto;
margin-top: 20px;
    gap: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;


}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.my_courses, .add_courses, .contact_us {
   
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(131, 9, 5);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: fantasy;
}
.my_courses:hover, .add_courses:hover, .contact_us:hover {
    background-color: rgb(182, 12, 6);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
